<div class="container">
    <mat-toolbar>
        <span>Crear Campaña</span>
    </mat-toolbar>
    <mat-card-content style="margin-top: 10px;">
        <form [formGroup]="form" (ngSubmit)="agregarCampaign()">
            <mat-grid-list cols="3" rowHeight="50px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Identificación</mat-label>
                        <input matInput autocapitalize="off" formControlName="id">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="8">
                    <img class="imgcamp" src="./assets/img/ajshop.jpg">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombre</mat-label>
                        <input matInput autocapitalize="off" formControlName="nombre">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Capacidad</mat-label>
                        <input matInput autocapitalize="off" formControlName="capacidad">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="example-full-width" id="ancho">
                        <mat-label>Fecha de inicio</mat-label>
                        <input matInput [matDatepicker]="picker" autocapitalize="off">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="example-full-width" id="ancho">
                        <mat-label>Fecha fin</mat-label>
                        <input matInput [matDatepicker]="picker" autocapitalize="off">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Observaciones</mat-label>
                        <input matInput autocapitalize="off" formControlName="observaciones">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Equipo</mat-label>
                        <input matInput autocapitalize="off" formControlName="equipo">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Proveedor</mat-label>
                        <input matInput autocapitalize="off" formControlName="proveedor">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="estado">
                            <mat-option *ngFor="let item of estado" [value]="item">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button type="button" (click)="cancelar()" mat-button>Cancelar</button>
                    <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Aceptar</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card-content>
</div>
