<div class="body">
    <div class="login">
        <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
        <form [formGroup]="form" (ngSubmit)="ingresar()">
            <img src="../../../assets/img/hombre.png" width="50%">
            <h1>Login</h1>
            <mat-form-field class="ancho" appearace="fill">
                <mat-label>Usuario</mat-label>
                <input matInput autocomplete="off" formControlName="usuario">
            </mat-form-field>
            <mat-form-field class="ancho" appearace="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput autocomplete="off" formControlName="password">
            </mat-form-field>
            <br>
            <button type="submit" class="ancho buttom" mat-raised-button color="primary" [disabled]="form.invalid">ingresar</button>
        </form>

    </div>

</div>
